beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.0
flickrapi==2.4.0
idna==3.4
oauthlib==3.2.2
peewee==3.16.3
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
six==1.16.0
soupsieve==2.5
urllib3==2.0.5
